@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif; /* Use Monteserrat as the default font for the body */
}

body, html {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Hedvig Letters Serif", serif;
}

.fixed {
  position: fixed;
}

.mood-happy {
  background-color: yellow;
}

.mood-sad {
  background-color: blue;
}

.nav-button {
  border: 2px solid #39998e; /* Adjust the border styles as needed */
  padding: 8px 16px; /* Adjust the padding as needed */
  background-color: #fff; /* Adjust the background color as needed */
  color: #39998e; /* Adjust the text color as needed */
  cursor: pointer;
  transition: all 0.3s ease; /* Add a smooth transition effect */
}

.nav-button:hover {
  background-color: #39998e;
  color: #fff;
}

.color-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.color-option {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.color-radio-input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.color-name {
  font-size: 14px;
}

.activity-card {
  display: inline-block;
  background-color: #fff;
  color: #39998E;
  cursor: pointer;
  transition: all 0.3s ease;
  width: calc(40% - 5px);
  margin: 0 5px 5px 0;
  contain: content;
}

.activity-title {
  margin: 0;
  font-weight: bold;
  border: 2px solid #39998E;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.activity-title:hover {
  background-color: #39998E;
  color: #fff;
}

.selected {
  background-color: #39998E;
  color: #fff;
}

.activity-description {
  border: 2px solid #39998E;
  padding: 8px;
}

.activity-example {
  padding: 8px;
  font-style: italic;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.w-25 {
  width: 25%;
}

.resources-menu-item {
  margin-bottom: 5px;
}

.container {
  contain: content;
}

.test {
  border: solid 1px black;
}

.max-height {
  max-height: fit-content;
}

.card {
  width: 25%;
  min-height: fit-content;
  border: solid red 1px;
}

.card-info {
  min-height: 100px;
  max-height: fit-content;
}

.img-card-img {
  box-shadow: 2px 2px 5px 2px rgba(30, 30, 30, 0.295);
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .flex-item {
    flex: 0 0 25%;
  }

}

@media screen and (max-width: 300px) {
  .flex-item {
    flex: 0 0 calc(33.3333% - 10px);
  }
}