@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif; /* Use Monteserrat as the default font for the body */
}

h1, h2, h3 {
  font-family: 'Hedvig Letters Serif', serif;
}

.mood-happy {
  background-color: yellow;
}

.mood-sad {
  background-color: blue;
}

/* Add this to your CSS */
.nav-button {
  border: 2px solid #39998E; /* Adjust the border styles as needed */
  padding: 8px 16px; /* Adjust the padding as needed */
  background-color: #fff; /* Adjust the background color as needed */
  color: #39998E; /* Adjust the text color as needed */
  cursor: pointer;
  transition: all 0.3s ease; /* Add a smooth transition effect */
}

.nav-button:hover {
  background-color: #39998E;
  color: #fff;
}
